main {
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid #22b;
    background-color: #39c;
    width: 500px;
}
article {
    padding: 10px;
    margin: 5px;
    background-color: #00b;
    color: #fff
}